.CFUserTextEncoding
.Trash/
.Xauthority
.agen/
.bash_history
.cache/
.config/
.dotfiles/
.dropbox/
.eclipse/
.fontconfig/
.fonts/
.gem/
.hgignore_global
.inkscape-etc/
.irb-history
.irb_history
.lesshst
.local/
.m2/
.mysql_history
.npm/
.rbfu/
.sqlite_history
.subversion/
.swt/
.twitter_oauth
.vagrant.d/
.viminfo
.zendesk/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
code/
data/
workspace/
.vim/.netrwhist

.cups/
.gitk
.gnupg/
.rediscli_history
.ssh/production_id_rsa
VirtualBox VMs/
z/
zendesk_pods/

.geeknote/
.guard_history
.zendesk

.cpan/
.datadog-agent/
.dbshell
.dvdcss/
.git_template/
.heroku/
.mongorc.js
.node-gyp/
.olliolli/
.perlbrew/
.pry_history
.rbenv/
.redis-commander
.rnd
.rnote/
.rvm/
.tddium
.ultratron/
.yardoc/
1.enml
2.enml
3.enml
3089/
Code
Marshal.4.8
Marshal.4.8.Z
My Games/
PdaNetUninstall.sh
PlanetExplorers/
RaceTheSunWorlds/
SavedGames/
Universe Sandbox/
Web Data.sqlite
digeratido.com
doc/
latest_specs.4.8
latest_specs.4.8.gz
letter.txt
perl5/
prerelease_specs.4.8
prerelease_specs.4.8.gz
pressy.html
resources/setup/intellij-colors-solarized/
specs.4.8
specs.4.8.gz
yael_letter.txt

