.CFUserTextEncoding
.Trash/
.Xauthority
.agen/
.bash_history
.cache/
.config/
.dotfiles/
.dropbox/
.eclipse/
.fontconfig/
.fonts/
.gem/
.hgignore_global
.inkscape-etc/
.irb-history
.irb_history
.lesshst
.local/
.m2/
.mysql_history
.npm/
.rbfu/
.rvm/
.sqlite_history
.subversion/
.swt/
.twitter_oauth
.vagrant.d/
.viminfo
.zendesk/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
code/
data/
workspace/
.vim/.netrwhist

.cups/
.gitk
.gnupg/
.rediscli_history
.ssh/production_id_rsa
VirtualBox VMs/
z/
zendesk_pods/

.geeknote/
