
# this should just be the gitignore for my dropfiles `dg`

.CFUserTextEncoding
.Trash/
.Xauthority
.agen/
.bash_history
.cache/
.config/
.dotfiles/
.dropbox/
.eclipse/
.fontconfig/
.fonts/
.gem/
.hgignore_global
.inkscape-etc/
.irb-history
.irb_history
.lesshst
.local/
.m2/
.mysql_history
.npm/
.rbfu/
.rvm/
.sqlite_history
.subversion/
.swt/
.twitter_oauth
.vagrant.d/
.viminfo
.zendesk/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
code/
data/
workspace/
.vim/.netrwhist

.cups/
.gitk
.gnupg/
.rediscli_history
.ssh/production_id_rsa
VirtualBox VMs/
z/
zendesk_pods/

.geeknote/
.guard_history
.zendesk
.idea/



.DS_Store
.android/
.bundle/
.cpan/
.dbshell
.dropbox-master/
.gmvault/
.htoprc
.mmtop_config
.mongorc.js
.node-gyp/
.perlbrew/
.profile
.pry_history
.rnd
.rnote/
.rnote_persist
.ssh/.DS_Store
.ssh/config.bak
.ssh/config.old
.ssh/id_rsa2.tddium.pub
.tddium
.term2048.scores
.ultratron/
.vegas/
.w3m/

.RubyMine70/
.boot2docker/
.datadog-agent/
.erlang.cookie
.mmtop_config.bak
.my.cnf
.php_history
.redis-commander
.ssh/id_boot2docker.pub
.ssh/id_rsa2.tddium.pub
Calibre Library/
EA Games/
My Games/
SavedGames/
emailer.rb
evernote.enml
evernote.txt
gmvault-db/
go/
index.html?name=_dragonfax-logo_thumb.png
logs/
notes.txt
notes/
perl5/
pod2.database.yml
public.gpg.key
today.txt
workspace
workspace_old/

