[user]
	name = Jason Stillwell
	email = jstillwell@zendesk.com
[credential]
	helper = /opt/boxen/bin/boxen-git-credential
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/jstillwell/Library/Application Support/SourceTree/SourceTree 1.7.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templatedir = ~/.git_template
[branch]
    autosetuprebase = always

[hub]
protocol = https
